* {
   box-sizing: border-box;
}

body {
   font-family: "TT Norms";
}

@font-face {
   font-family: "TT Norms";
   src: url("../fonts/TTNorms-Regular.eot");
   src: url("../fonts/TTNorms-Regular.eot?#iefix") format("embedded-opentype"),
      url("../fonts/TTNorms-Regular.woff2") format("woff2"), url("../fonts/TTNorms-Regular.woff") format("woff"),
      url("../fonts/TTNorms-Regular.ttf") format("truetype"),
      url("../fonts/TTNorms-Regular.svg#TTNorms-Regular") format("svg");
   font-display: swap;
}

.container {
   width: 335px;
   margin-left: auto;
   margin-right: auto;
}

.header {
   background-color: #323264;
   background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7a425e 87.53%);
   padding-top: 20px;
   position: relative;
}

.header-flex__mobile {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: baseline;
   position: relative;
   margin-bottom: 110px;
}

.header-flex__desktop {
   display: none;
   margin-bottom: 185px;
}

.header-flex__item {
   width: 50%;
}

.language {
   display: flex;
   margin-bottom: 20px;
}

.language-link {
   font-weight: bold;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 1px;
   color: #b3b3ba;
   text-decoration: none;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 6px;
   padding-right: 6px;
}

.language_link__active {
   color: #fff;
   background-color: #f0145a;
   border-radius: 8px;
}

.language-link:hover {
   background-color: #ededf7;
   border-radius: 8px;
   color: #b3b3ba;
}

.contacts-list {
   list-style: none;
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
   padding-right: 7px;
   text-align: right;
}

.contacts-list__address {
   display: none;
   color: #fff;
   font-size: 16px;
   line-height: 19px;
}

.contacts-list__tel {
   color: #b3b3ba;
   font-size: 16px;
   line-height: 19px;
   font-weight: bold;
   top: 3px;
   right: 7px;
}

.contacts-list__fb {
   display: none;
}

.contacts-svg_fb:hover .fb-icon {
   fill: #24a3ff;
}

.navigation {
   display: none;
}

.navigation-link {
   color: #fff;
   text-decoration: none;
   font-size: 18px;
   line-height: 21px;
}

.navigation-link:not(:last-child) {
   margin-right: 15px;
}

.navigation-link:hover {
   color: #f0145a;
   text-decoration: underline;
}

.navigation-link__active {
   color: #f0145a;
}

.menu-button {
   width: 32px;
   height: 32px;
   background-color: transparent;
   border: 0;
   background-image: url(../img/menu_button.svg);
}

.menu-button:active {
   background: #ededf7;
   border-radius: 12px;
   background-image: url(../img/menu_button.svg);
}

.mobile-menu {
   padding-top: 16px;
   padding-bottom: 20px;
   background-color: #fff;
   position: absolute;
   top: 100%;
   left: 0;
   right: 0;
   bottom: 0;
   transition: 1s;
   opacity: 0;
   z-index: 5;
}

.menu-symbol {
   width: 32px;
   height: 32px;
   margin-bottom: 14px;
   margin-left: auto;
   margin-right: auto;
   background-image: url(../img/menu_symbol.svg);
   background-repeat: no-repeat;
   background-position: center;
}

.mobile-menu__link {
   display: block;
   font-size: 24px;
   line-height: 28px;
   color: #24a3ff;
   text-decoration: none;
   background-color: #f5f5fa;
   padding-top: 11px;
   padding-bottom: 15px;
   text-align: center;
   font-weight: bold;
}

.mobile-menu__link:not(:last-child) {
   margin-bottom: 1px;
}

.mobile-menu__link:active {
   background-color: #ededf7;
}

.mobile-menu__link-active {
   color: #f0145a;
}

.mobile-menu-opened {
   top: 0;
   opacity: 1;
}

.close_button {
   width: 32px;
   height: 32px;
   position: absolute;
   top: 12px;
   right: 12px;
   background-image: url(../img/close_button.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-color: transparent;
   border: 0;
}

.close_button:active {
   background-color: #ededf7;
   border-radius: 12px;
}

.intro {
   position: relative;
   padding-top: 500px;
}

.header-background-logo {
   width: 595px;
   height: 500px;
   background-image: url(../img/symbol_long_leg.svg);
   background-repeat: no-repeat;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
}

.header-title {
   margin-top: 0;
   margin-bottom: 0;
   font-size: 38px;
   font-weight: normal;
   line-height: 45px;
   text-align: center;
   color: #fff;
   position: absolute;
   z-index: 2;
   top: 40px;
   left: 50%;
   transform: translateX(-50%);
}

.arrow {
   display: block;
   background-image: url(../img/arrow.png);
   background-repeat: no-repeat;
   background-position: center;
   background-color: transparent;
   width: 42px;
   height: 42px;
   border-radius: 50%;
   border: 1px solid #ffffff;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   z-index: 2;
   bottom: 20px;
}

.arrow:hover {
   background-color: rgba(255, 255, 255, 0.5);
   cursor: pointer;
}

.shade {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 200px;
   background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
}

.benefits {
   background-color: #323264;
   background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
}

/* ======SLIDER START====== */

.slider {
   padding-top: 80px;
}

.slider-mobile_title {
   margin-top: 0;
   margin-bottom: 10px;
   font-size: 14px;
   line-height: 17px;
   letter-spacing: 1px;
   text-transform: uppercase;
   background: #ef8080;
   background: -webkit-linear-gradient(to right, #ef8080 0%, #f0145a 10%);
   background: -moz-linear-gradient(to right, #ef8080 0%, #f0145a 10%);
   background: linear-gradient(to right, #ef8080 0%, #f0145a 10%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.slider-mobile_subtitle {
   font-weight: normal;
   color: #fff;
   font-size: 22px;
   line-height: 26px;
   margin-top: 0;
   margin-bottom: 15px;
}

.slider-mobile_text {
   margin-top: 0;
   margin-bottom: 20px;
   font-size: 18px;
   line-height: 26px;
   color: #fff;
}

.slider-mobile_indicators {
   display: flex;
   justify-content: center;
}

.indicator-item {
   width: 16px;
   height: 16px;
   background-color: #24a3ff;
   opacity: 0.2;
   border-radius: 50px;
}

.indicator-item.active {
   opacity: 1;
}

.indicator-item:not(:last-child) {
   margin-right: 14px;
}

.slider-desktop {
   display: none;
}

.points {
   display: flex;
   flex-direction: column;
   width: 30%;
}

.slider-point {
   font-weight: bold;
   font-size: 42px;
   line-height: 50px;
   text-align: right;
   color: #b3b3ba;
   margin-bottom: 20px;
}

.slider-point.active {
   background: #ef8080;
   background: -webkit-linear-gradient(to right, #ef8080 0%, #f0145a 10%);
   background: -moz-linear-gradient(to right, #ef8080 0%, #f0145a 10%);
   background: linear-gradient(to right, #ef8080 0%, #f0145a 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.separator {
   display: flex;
   flex-direction: column;
   width: 4px;
   height: 310px;
   background-color: #e6e6f0;
   margin-left: 40px;
   margin-right: 40px;
}

.separator-indicator {
   height: 50px;
   background-color: #f0145a;
}

.slider-text {
   width: 45%;
}

.slider-text_title {
   font-size: 32px;
   line-height: 38px;
   color: #ffffff;
   font-weight: normal;
}

.slider-text_content {
   font-size: 21px;
   line-height: 30px;
   color: #ffffff;
}

.background_pattern {
   display: none;
}

/* ======SLIDER END====== */

/* ======SERVICES START====== */

.services {
   padding-top: 45px;
   position: relative;
   margin-bottom: 40px;
   border-radius: 0px 0px 12px 12px;
}

.services::before {
   content: "";
   width: 88%;
   height: 10px;
   background-color: #cacadb;
   position: absolute;
   bottom: -10px;
   left: 50%;
   transform: translateX(-50%);
   border-radius: 0px 0px 12px 12px;
}

.services::after {
   content: "";
   width: 75%;
   height: 10px;
   background-color: #e7e7f2;
   position: absolute;
   bottom: -20px;
   left: 50%;
   transform: translateX(-50%);
   border-radius: 0px 0px 12px 12px;
}

.service-heading_subtitle {
   color: #ffffff;
   opacity: 0.5;
}

.headings_small {
   font-size: 14px;
   line-height: 17px;
   letter-spacing: 1px;
   text-transform: uppercase;
}

.service-heading-title {
   margin-top: 3px;
   margin-bottom: 20px;
}

.headings {
   font-size: 32px;
   line-height: 38px;
   background: #ef8080;
   background: -webkit-linear-gradient(to left, #ef8080 0%, #f0145a 100%);
   background: -moz-linear-gradient(to left, #ef8080 0%, #f0145a 100%);
   background: linear-gradient(to left, #ef8080 0%, #f0145a 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.services-grid {
   display: flex;
   flex-wrap: wrap;
}

.services-grid__icon {
   background: #ffffff;
   border-radius: 18px;
   width: 64px;
   height: 64px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 44px;
   margin-right: 10px;
}

.services-grid__block {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   margin-bottom: 40px;
}

.services-grid__basket {
   background-image: url(../img/basket.svg);
}

.services-grid__briefcase {
   background-image: url(../img/briefcase.svg);
}

.services-grid__pattern {
   background-image: url(../img/pattern.svg);
}

.services-grid__arms {
   background-image: url(../img/arms.svg);
}

.services-grid__shield {
   background-image: url(../img/shield.svg);
}

.services-grid__hammer {
   background-image: url(../img/hammer.svg);
   background-size: 36px 37px;
}

.services-grid__title {
   color: #24a3ff;
   font-family: "TT Norms";
   font-size: 18px;
   line-height: 21px;
   font-weight: normal;
   margin-top: 0;
   margin-bottom: 0;
   width: 70%;
}

.services-grid__text {
   color: #ffffff;
   font-family: "TT Norms";
   font-size: 16px;
   line-height: 22px;
}

/* ======SERVICES END====== */

/* ======TEAM START====== */

.team-mobile {
   display: flex;
   flex-wrap: wrap;
   background-color: #f5f5fa;
   border-radius: 12px;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 21px;
   margin-bottom: 15px;
}

.team-desktop {
   display: none;
}

.team-heading_subtitle {
   color: #24a3ff;
   font-weight: bold;
}

.team-member_photo {
   width: 20%;
   margin-right: 10px;
}

.team-heading_title {
   margin-top: 3px;
   margin-bottom: 10px;
}

.team-member_name {
   font-size: 18px;
   line-height: 21px;
   color: #b3b3ba;
}

.team-member_position {
   color: #b3b3ba;
   font-size: 16px;
   line-height: 22px;
}

.team-member-info {
   width: 60%;
}

/* ======TEAM END====== */

/* ======CASES START====== */

.cases {
   margin-top: 30px;
   margin-bottom: 30px;
   background-color: #f5f5fa;
   border-radius: 12px;
   display: flex;
   flex-wrap: wrap;
}

.case-item {
   padding: 20px;
   border: 1px solid #fff;
   width: 100%;
}

.box1 {
   width: 100%;
}

.case-item:first-child {
   color: #f0145a;
   font-size: 14px;
   font-weight: bold;
   line-height: 17px;
   letter-spacing: 1px;
   text-transform: uppercase;
}

.case-item_text {
   font-size: 18px;
   line-height: 21px;
   color: #686887;
   margin-top: 0;
   margin-bottom: 10px;
   word-break: normal;
}

.case-item_client-name {
   font-size: 18px;
   line-height: 26px;
   color: #b3b3ba;
}

/* ======CASES END====== */

/* ======CLIENTS-GRID START====== */

.clients-grid {
   display: flex;
   flex-wrap: wrap;
}

.clients-grid__item {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50%;
   height: 90px;
}

.clients-grid__hillel {
   background-color: #1c4280;
}

.clients-grid__wannabiz {
   background-color: #143646;
}

.clients-grid__tapgerine {
   background-color: #f48b30;
}

.clients-grid__3d_look {
   background-color: #9e4dc3;
}

.clients-grid__orangear {
   background-color: #fd9339;
}

.clients-grid__adtelligent {
   background-color: #e2e2e4;
}

.clients-grid__clickky {
   background-color: #c71c36;
}

.clients-grid__ecoleasing {
   background-color: #dcf3f9;
}

.clients-grid__infratek {
   background-color: #eaeaea;
}

.clients-grid__citypark {
   background-color: #282240;
}

.clients-grid__artprint {
   background-color: #1d4568;
}

.clients-grid__ultimatecard {
   background-color: #000000;
}

.clients-grid_heading {
   text-align: center;
   font-weight: bold;
   color: #323264;
   margin-bottom: 30px;
}

.publications-grid {
   padding-top: 20px;
   padding-bottom: 40px;
}

.publications {
   padding-top: 20px;
   padding-bottom: 40px;
   background-color: #f5f5fa;
}

.publication-subtitle {
   font-weight: bold;
   color: #24a3ff;
}

.publication-title {
   font-weight: bold;
   margin-top: 3px;
   margin-bottom: 0;
}

.publication-item {
   background-color: #fff;
   border-radius: 8px;
}

.publication-item_img {
   width: 335px;
}

.publication-item:not(:last-child) {
   margin-bottom: 20px;
}

.publication-item_content {
   padding: 20px;
}

.publication-item_title {
   margin-top: 0;
   margin-bottom: 10px;
   font-size: 18px;
   line-height: 21px;
   color: #24a3ff;
}

.publication-date {
   font-weight: bold;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #b3b3ba;
}

.publications-button {
   display: block;
   margin: 0 auto;
   color: #ffffff;
   padding-top: 16px;
   padding-bottom: 16px;
   width: 250px;
   border: none;
   background: #24a3ff;
   box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
   border-radius: 12px;
   cursor: pointer;
}

.publications-grid_desktop {
   display: none;
}

/* ======CLIENTS-GRID END====== */

/* ======FOOTER START====== */

footer {
   background-color: #f5f5fa;
   position: relative;
   padding-top: 25px;
   padding-bottom: 25px;
}

.footer {
   position: relative;
}

.footer::before {
   content: "";
   width: 100%;
   height: 3px;
   background-color: #e6e6f0;
   position: absolute;
   top: -23px;
   left: 50%;
   transform: translateX(-50%);
}

.footer-contacts {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.footer-adress {
   font-weight: bold;
   font-size: 16px;
   line-height: 19px;
   color: #323264;
   margin-bottom: 10px;
}

.footer-map-link {
   font-weight: bold;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #24a3ff;
   text-decoration: none;
   margin-bottom: 20px;
}

.footer-fb {
   margin-bottom: 20px;
}

.footer-tel {
   font-weight: bold;
   font-size: 16px;
   line-height: 19px;
   color: #46466e;
   text-decoration: none;
   margin-bottom: 20px;
}

.footer-mail {
   font-weight: bold;
   font-size: 16px;
   line-height: 19px;
   color: #24a3ff;
   text-decoration: none;
   margin-bottom: 20px;
}

.footer-copy {
   margin: 0 auto;
   text-align: center;
   width: 60%;
   font-weight: normal;
   font-size: 16px;
   line-height: 19px;
   color: #b3b3ba;
}

/* ======FOOTER END====== */

/*! ===============MEDIA================ */

@media (min-width: 768px) {
   .header {
      padding-top: 34px;
   }

   .container {
      width: 688px;
   }

   .menu-button {
      display: none;
   }

   .contacts-list__address {
      display: list-item;
   }

   .contacts-list__fb {
      display: list-item;
   }

   .contacts-list {
      display: flex;
      margin-left: 20px;
   }

   .header-flex__item {
      width: auto;
   }

   .navigation {
      display: block;
   }

   .header-logo {
      width: 100%;
      margin-bottom: 16px;
   }

   .language {
      margin-left: 20px;
   }

   .header-flex__mobile {
      justify-content: flex-start;
   }

   .contacts-list__item:not(:first-child) {
      margin-left: 20px;
   }

   .header-title {
      width: 50%;
   }

   .services-grid__block {
      width: 50%;
      padding-right: 20px;
   }

   .team-mobile {
      display: none;
   }

   .team-desktop {
      display: flex;
      background-color: #f5f5fa;
      border-radius: 12px;
      overflow: hidden;
      margin-bottom: 20px;
   }
   .team-member_photo {
      width: 36%;
   }

   .team-desktop_info {
      padding-top: 10px;
      padding-left: 10px;
   }

   .team-member_name {
      margin-bottom: 5px;
   }

   .team-member-info {
      width: 100%;
   }

   .box1 {
      width: 50%;
   }

   .case-item3,
   .case-item4,
   .case-item5,
   .case-item6,
   .case-item7 {
      width: 50%;
   }

   .clients-grid__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33.33%;
   }

   .publications-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   .publication-item:not(:first-child) {
      width: min-content;
   }

   .publication-item1 {
      width: 335px;
   }
}

@media (min-width: 1024px) {
   .container {
      width: 925px;
   }

   .header-flex__mobile {
      justify-content: flex-end;
   }

   .header-logo {
      width: 50%;
      margin-bottom: 0;
   }

   .navigation {
      width: 50%;
      align-self: center;
      text-align: end;
   }

   .language {
      margin-bottom: 16px;
   }

   .header-title {
      top: 60px;
   }

   .team-desktop_info {
      padding-left: 40px;
   }

   footer {
      padding-top: 35px;
   }

   .footer {
      display: flex;
      justify-content: space-between;
   }

   .footer-contacts {
      width: 50%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
      align-items: baseline;
   }

   .footer-copy {
      width: 50%;
      margin: 0;
      text-align: end;
   }

   .footer-adress {
      width: 50%;
      margin-bottom: 22px;
   }

   .footer-map-link {
      width: 50%;
      margin-bottom: 0;
   }

   .footer-fb {
      margin-right: 17px;
      margin-bottom: 0;
   }

   .footer-tel {
      margin-bottom: 0;
      margin-right: 30px;
      align-self: center;
   }

   .footer-mail {
      margin-bottom: 0;
      align-self: center;
   }

   .footer::before {
      top: -33px;
   }

   .publications-grid {
      justify-content: space-around;
   }
}

@media (min-width: 1440px) {
   .container {
      width: 1320px;
   }

   .language {
      margin-left: 0;
      margin-bottom: 0;
   }

   .header-flex__mobile {
      display: none;
   }

   .header-flex__desktop {
      display: flex;
      justify-content: space-between;
   }

   .header_flex__right {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-start;
   }

   .language-link {
      color: #fff;
   }

   .contacts-list__tel {
      color: #fff;
   }

   .header {
      padding-top: 50px;
   }

   .header-title {
      width: 40%;
   }

   .slider-mobile {
      display: none;
   }

   .slider-desktop {
      display: flex;
      justify-content: center;
   }

   .background_pattern {
      display: inline-block;
      background-image: url(../img/background_pattern.png);
      background-repeat: no-repeat;
      width: 689px;
      height: 614px;
      position: absolute;
      top: -122px;
      left: 50%;
      transform: translateX(-50%);
   }

   .services-grid__icon {
      border-radius: 24px;
      width: 92px;
      height: 92px;
      background-size: 64px;
      margin-bottom: 20px;
      margin-right: 0;
   }

   .services-grid__block {
      display: block;
      width: 33.33%;
      padding-right: 38px;
      margin-bottom: 60px;
   }

   .services {
      padding-top: 70px;
      margin-bottom: 60px;
   }

   .services-grid__title {
      width: 100%;
      font-size: 24px;
      line-height: 28px;
   }

   .services-grid__text {
      margin-top: 15px;
      margin-bottom: 0;
      font-size: 18px;
      line-height: 26px;
   }

   .services-grid__hammer {
      background-size: 48px;
   }

   .headings {
      font-size: 42px;
      line-height: 50px;
   }

   .service-heading-title {
      margin-bottom: 68px;
   }

   .services::before {
      width: 97%;
   }

   .services::after {
      width: 94%;
   }

   .team-heading_title {
      margin-bottom: 20px;
   }

   .team-desktop_info {
      padding-top: 40px;
   }

   .cases {
      margin-top: 40px;
   }

   .box1 {
      width: 33%;
   }

   .case-item3 {
      width: 34%;
   }

   .case-item4 {
      width: 33%;
   }

   .case-item5 {
      width: 24%;
   }

   .case-item6 {
      width: 35%;
   }

   .case-item7 {
      width: 41%;
   }

   .clients-grid__item {
      width: 25%;
      height: 120px;
   }

   .footer-contacts {
      width: 35%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
      align-items: baseline;
   }

   .footer-copy {
      width: 35%;
      margin: 0;
      text-align: end;
   }

   .footer-adress {
      width: 50%;
      margin-bottom: 22px;
   }

   .footer-map-link {
      width: 50%;
      margin-bottom: 0;
   }

   .footer-fb {
      margin-right: 17px;
      margin-bottom: 0;
   }

   .footer-tel {
      margin-bottom: 0;
      margin-right: 30px;
      align-self: center;
   }

   .footer-mail {
      margin-bottom: 0;
      align-self: center;
   }

   .publications {
      position: relative;
      padding-top: 40px;
   }

   .publications-grid {
      display: none;
   }

   .publications-grid_desktop {
      background-color: #f5f5fa;
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
   }

   .publication-desktop-column {
      width: 31%;
   }

   .publication-item_img {
      width: 414px;
   }

   .publication-text {
      display: block;
      position: relative;
      font-size: 16px;
      line-height: 22px;
      margin-top: 40px;
      margin-bottom: 0;
   }

   .publication-text::before {
      position: absolute;
      content: "";
      background-color: #e6e6f0;
      width: 100%;
      height: 4px;
      top: -20px;
   }

   .publication-item:not(:first-child) {
      width: 50%;
   }

   .publication-desktop-item {
      background-color: #fff;
      border-radius: 8px;
   }

   .publication-desktop-item {
      width: 414px;
   }

   .publication-desktop-item:not(:last-child) {
      margin-bottom: 40px;
   }

   .light-shade {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 200px;
      background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #f5f5fa 86.5%);
   }

   .publications-button {
      position: relative;
      z-index: 1;
   }
}
